#AccContainer{
    min-height: 100vh;
    width: 100%;
    background-color: #111022;
}
#AccDetails{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin: 10vh 0;
}
#AccDetails p{
    color: #FC6D1E;
    margin-bottom: 1.2rem;
}
#AccDetails h1{
    color: white;
    width: 60%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
}