#ToolContainer{
    height: 120vh;
    width: 100%;
    background-color: #111022;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#ToolContainer #title{
    overflow: hidden;
    color: white;
    font-size: 2.5rem;
}
#cardSection{
    height: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}